<div class="container">

    <h3 class="section-title">Eventos Anteriores</h3>
    <% var years = Object.keys(public.partials.speakers) %>
        <% for(var z in years){ %>
            <h4>Año
                <%- years[z] %>
            </h4>
            </li>
            <% var contents = public.partials.speakers[years[z]] %>
                <% for(var i in contents){ %>
                    <div class="container">
                        <% for(var j in contents[i]._contents){ %>
                            <li>
                                <a href="partials/speakers/<%- years[z] %>/s1/<%-contents[i]._contents[j] %>">Evento
                                    <%- parseInt(j) + 1 %>
                                </a>
                            </li>
                            <% }%>
                    </div>
                    <% }%>

                        <% }%>
</div>