<html>

<head>
      <meta charset="UTF-8">
      <title>Gsickminds</title>
      <link rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet"
            href="assets/css/main.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

      <script src="assets/js/main.js"></script>
</head>

<body>

      <div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

            GRUPO DE SEGURIDAD DE LA INFORMACIÓN DE A CORUÑA
                <br>
                C.P. 15071 A Coruña, España
                    <br>
                    (+34) 981 167 000 ext. 1304
                        <br>
                        info@gsickminds.net
        </div>

        <div class="col-md-4">
            <ul class="social-block">
                
                    <li>
                        <a target="_blank" href="https://twitter.com/gsickminds">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    

            </ul>
        </div>
    </div>
</div>


            <footer class="site-footer">
                  <div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

            GRUPO DE SEGURIDAD DE LA INFORMACIÓN DE A CORUÑA
                <br>
                C.P. 15071 A Coruña, España
                    <br>
                    (+34) 981 167 000 ext. 1304
                        <br>
                        info@gsickminds.net
        </div>

        <div class="col-md-4">
            <ul class="social-block">
                
                    <li>
                        <a target="_blank"
                           href="https://twitter.com/gsickminds">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    

            </ul>
        </div>
    </div>
</div>
            </footer>


</body>

</html>