<div class="container ">
      <div class="row">
            <div class="col-xs-12 col-sm-12">
                  <h3 class="section-title">
                        <%- title %>
                  </h3>
                  <p>
                        <%- info%>
                  </p>
            </div>
            <div class="col-12 col-md-12 text-center">
                  <a class="btn btn-secondary btn-lg" target="_blank" href="http://es.confcodeofconduct.com/">C&#xF3;digo de conducta</a>
            </div>
      </div>
</div>