<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <h3 class="section-title">
                <%- title %>
            </h3>
        </div>
        <div class="col-xs-6 col-sm-6">
            <a class="btn btn-rodamina pull-right"
               target="_blank"
               href="https://gsickandbeers.eventbrite.es">Apuntate a este evento</a>
        </div>
    </div>
    <div class="row">
        <% var data = public.partials.speakers["2017"].s1._data.speakers %>
            <%- partial("partials/speakers/2017/s1/speakers", data) %>
    </div>

    <div class="row">

        <a class="btn btn-rodamina pull-right btn-margin"
           href="/old_events">Eventos Anteriores</a>

    </div>
</div>