<div class="container ">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="section-title">
                <%- title %>
            </h3>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="border border-primary">
                <h3>Básico</h3>
                <h3>100€</h3>

                <p>
                    <span class="fa fa-check"></span>
                    <span>Logo en Web y carteleria</span>
                </p>
                <p>
                    <span class="fa fa-times"></span>
                    <span>Charla esponsorizada</span>
                </p>
                <p>
                    <span class="fa fa-times"></span>
                    <span>Espacio en evento anual</span>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <h3>Estandar</h3>
            <h3>250€</h3>

            <p>
                <span class="fa fa-check"></span>
                <span>Logo en Web y carteleria</span>
            </p>
            <p>
                <span class="fa fa-check"></span>
                <span>Charla esponsorizada</span>
            </p>
            <p>
                <span class="fa fa-times"></span>
                <span>Espacio en evento anual</span>
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <h3>Fidelización</h3>

            <h3>1500€ (Todo el año)</h3>

            <p>
                <span class="fa fa-check"></span>
                <span>Logo en Web y carteleria</span>
            </p>
            <p>
                <span class="fa fa-check"></span>
                <span>Charla esponsorizada</span>
            </p>
            <p>
                <span class="fa fa-check"></span>
                <span>Espacio en evento anual</span>
            </p>

        </div>

    </div>