<div class="container">
      <div class="row">
            <div class="col">
                  <h3 class="section-title">About Us</h3>
                  <p>
                        <%- info%>
                  </p>
            </div>
      </div>

</div>