<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title">
                <%- title %>
            </h3>
        </div>
    </div>
    <div class="row">
        <%- partial("partials/speakers/y2017/s1/speakers", public.partials.speakers.y2017.s1._data.speakers) %>
    </div>
</div>