<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-2">

            <img alt=""
                 class="img-responsive"
                 src="assets/images/logos/gsic.png">

        </div>
        <div class="col-xs-8 col-sm-10">

            <%- contact.name %>
                <br>
                <%- contact.address %>
                    <br>
                    <%- contact.phone %>
                        <br>
                        <%- contact.email %>
        </div>
    </div>
</div>