<div class="intro">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <img alt=""
             class="img-responsive"
             src="assets/images/logos/logo_rodamina.png">
        <a class="btn btn-transparent"
           href="#contribution">Quieres dar una charla</a>
    </div>
    <div class="col-sm-3"> </div>
</div>