
      <div class="container">
            <div class="navbar-header">

                  <!-- logo -->
                  <div class="site-branding">
                        <a class="logo"
                           href="index.html">
                               GSICKMINDS
                        </a>
                  </div>
            </div>
            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse"
                 id="navbar-items">
                  <ul class="nav navbar-nav navbar-right">
                        <!-- navigation menu -->
                        <li class="active">
                              <a data-scroll
                                 href="#about">About</a>
                        </li>
                        <li>
                              <a data-scroll
                                 href="#partner">Partner</a>
                        </li>
                  </ul>
            </div>
      </div>
      <!-- /.container -->
