<div class="container">
      <div class="navbar-header">
            <div class="row">
                  <div class="col-sm-3">
                        <!-- logo -->
                        <div class="site-branding">
                              <a class="logo"
                                 href="index.html">
                                    <img alt=""
                                         class="img-responsive"
                                         src="assets/images/gsic_hor_black.png">

                              </a>
                        </div>
                  </div>
                  <div class="col-sm-9">
                        <!-- /.navbar-header -->
                        <% if(current.source == 'index') { %>
                              <div class="collapse navbar-collapse"
                                   id="navbar-items">
                                    <ul class="nav navbar-nav navbar-right">
                                          <!-- navigation menu -->
                                          <% for(var i=0; i < nav.length; i++) { %>
                                                <li>
                                                      <a data-scroll
                                                         href="<%- nav[i].href %>">
                                                            <%- nav[i].label %>
                                                      </a>
                                                </li>
                                                <% } %>
                                    </ul>
                              </div>
                  </div>
                  <% } %>
            </div>
      </div>
</div>
<!-- /.container -->